{% extends 'admin/layouts/layout.html.twig' %}

{% block main %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Lead Conversion</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">Lead Conversion
                </div>
                <div class="panel-body">
                    
                                    
                    <form method='post'>
                        <div class="row" style="margin-bottom: 50px;">
                            <div class="col-lg-2">
                                <input value="{{startDate}}"  name="start" type="text" class="datepickeronly form-control" placeholder="From Date">
                            </div>                                                        
                            <div class="col-lg-2">
                                <input value="{{endDate}}"  name="end" type="text" class="datepickeronly form-control" placeholder="To Date">
                            </div>                                                                                    
                            <div class="col-lg-1">                            
                                <button class="btn btn-primary">GO</button>
                            </div>
                        </div>    
                    </form>
                        
                    <div class="row">

                        <div class="col-lg-4 ">

                            <table class="table table-user-information">
                                <tbody>
                                    <tr>
                                        <td><strong>Total Leads</strong></td>
                                        <td>{{total}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Total Converted</strong></td>
                                        <td>{{converted}}</td>
                                    </tr>                                                                       
                                    <tr>
                                        <td><strong>Conversion Rate</strong></td>
                                        <td>{{conversionRate}}</td>
                                    </tr>                                    
                                    
                                </tbody>
                            </table>

                        </div>
                  
                                    
                        
                    </div>
                                 
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{parent()}}
<script type="text/javascript">
            $(document).ready(function () {
                
                $('.datetimepicker').datetimepicker({
                    format:'d-m-Y H:i'
                    
                });
                                
                $(".datepickeronly").datetimepicker({
                    timepicker:false,
                    format:'d-m-Y',
                    
                });

            });
        </script>  
{% endblock %}
                