{% extends 'admin/layouts/layout.html.twig' %}

{% block main %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Total Revenue</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Total Revenue Report
                </div>
                <div class="panel-body">


                    {% for flashMessage in app.session.flashbag.get('success') %}    

                        <div class="alert alert-success" role="alert">
                            {{ flashMessage }}
                        </div>    

                    {% endfor %}
                    
                    <form method='POST'>
                        <div class="row" style="margin-bottom: 50px;">
                            <div class="col-lg-2">
                                <input  name="start" type="text" class="datetimepicker form-control" placeholder="Start Date" value = "{{ start }}">
                            </div>   
                            <div class="col-lg-2">
                                <input  name="end" type="text" class="datetimepicker form-control" placeholder="End Date" value = "{{ end }}">
                            </div> 
                            <div class="col-lg-1">                            
                                <button class="btn btn-primary">GO</button>
                            </div>
                        </div>    
                    </form>
                            
                    <form class="form-horizontal">
                      <div class="form-group">
                        <label class="col-sm-3 control-label">Total: <span class="form-control-static">{{trip.total}}</span> </label>
                      </div>
                   
                    </form>                            

                    <div class="row">
                        <div class="col-lg-12">

                            
                            </table>
                                    
                                    
                                    <div class="table-responsive">
                                <table class="table table-striped table-hover" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th scope="col">Trip ID</th>
                                            <th scope="col">Customer</th>
                                            <th scope="col"> Driver</th>
                                            <th scope="col" class=""> Scheduled Time</th>
                                            <th scope="col" class=""> Location</th>
                                            <th scope="col" class=""> Rate (Discount)</th>
                                            <th scope="col" class=""> Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in trips %}
                                            <tr>
                                                <td>{{ item.trip.id }}</td>
                                                <td>{% if item.trip.customer|length > 0 %} {{ item.trip.customer.fullName }} {% endif %}</td>
                                                <td>{% if item.trip.driver|length > 0 %} {{item.trip.driver.fullName}} {% endif %}</td>
                                                <td>{{ item.trip.scheduledTime|date('d-m-Y H:i') }}</td>
                                                <td>{{ item.trip.location }}</td>
                                                <td>{{ item.trip.rate }} {% if item.trip.discount !='' %} ({{item.trip.discount}}){% endif %}</td>
                                                <td>{{ item.trip.amountCollected }}</td>
      
                                            </tr>
                               
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                                    
                                    
                                    
                                     
                          {#          <div class="navigation">
                                {{ knp_pagination_render(trips) }}
                            </div>#}
                        </div>

                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

{% endblock %}
{% block javascripts %}
    {{parent()}}
<script type="text/javascript">
            $(document).ready(function () {
                
                $('.datetimepicker').datetimepicker({
                    format:'d-m-Y H:i'
                    
                });
                                
                $(".datepickeronly").datetimepicker({
                    timepicker:false,
                    format:'d-m-Y',
                    
                });
                
            $('.table').DataTable({
                "order": [[0, "desc"]],
                "columnDefs": [
                    {
                        "targets": [ 0 ],
                        "visible": false,
                        "searchable": false
                    }
                ]                
            });                

            });
        </script>  
{% endblock %}
