{% extends 'admin/layouts/layout.html.twig' %}

{% block main %}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Lead</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-lg-10">
        <div class="panel panel-default">
            <div class="panel-heading">
                Edit Lead
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-10">
                        <form method="post">

                            {% for flashMessage in app.session.flashbag.get('success') %}

                                <div class="alert alert-success" role="alert">
                                    {{ flashMessage }}
                                </div>

                            {% endfor %}

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Name</label>
                                <div class="col-sm-10">
                                    <input required pattern="[A-Za-z ‘-]{2,}" name="name" type="text" class="form-control" id="name" placeholder="Name"  value="{{data.name}}">
                                </div>
                            </div>
                                           
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Phone Number</label>
                                <div class="col-sm-10">
                                    <input pattern="[0-9]{10}" required title="10 digit phone number required" name="phone" type="text" class="form-control" id="name"placeholder="Phone Number" value="{{data.phone[0]}}">
                                </div>
                            </div>
                                
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Email</label>
                                <div class="col-sm-10">
                                    <input name="email" type="email" class="form-control" id="name" placeholder="Email" value="{{data.email}}">
                                </div>
                            </div>

{#                            <div class="form-group row">
                                <label for="exampleTextarea" class="col-sm-2 col-form-label">Address</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" name="address" id="address" placeholder="Address">{{data.address}}</textarea>
                                </div>
                            </div>#}

                            <div class="form-group row">
                                <div class="form-inline">
                                    <label class="col-sm-2 col-form-label">Address</label>

                                    <div class="col-sm-10" id="address-wrapper">                                         

                                        <div class="input-group" style="width: 100%;">
                                            <div class="form-group" style="width: 25%">
                                                <input value="{{data.address[0]}}" name="house-number" type="text" class="form-control" placeholder="House Number" style="width: 100%;">
                                            </div>
                                            <div class="form-group" style="width: 25%">
                                                <input value="{{data.address[1]}}" name="street" type="text" class="form-control" placeholder="Street" style="width: 100%;">
                                            </div>
                                            <div class="form-group" style="width: 25%">
                                                <input value="{{data.address[2]}}" name="city" type="text" class="form-control" placeholder="City" style="width: 100%;">
                                            </div>
                                            <div class="form-group" style="width: 25%">
                                                <input value="{{data.address[3]}}" name="landmark" type="text" class="form-control" placeholder="Landmark" style="width: 100%;">
                                            </div>           
                                        </div>

                                    </div>

                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Location</label>
                                <div class="col-sm-10">
                                    <input required pattern="[A-Za-z0-9 ‘-]{2,}" name="location" type="text" class="form-control" id="age" placeholder="Location" value="{{data.location}}">
                                </div>
                            </div>
                                
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Status</label>
                                <div class="col-sm-10">
                                    <select required name="status" class="form-control">
                                        <option value="1">Interested</option>
                                        <option value="2">Not Interested</option>
                                        <option value="3">Cancelled</option>
                                    </select>
                                </div>
                            </div>
                            
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Followup</label>
                                <div class="col-sm-10">
                                    <input name="followup" type="text" class="form-control datepickeronly" id="followup" placeholder="Followup" value="{{ data.followupDate|date('m/d/Y') }}">
                                </div>
                            </div>
                                
                            <div class="form-group row">
                                <label for="exampleTextarea" class="col-sm-2 col-form-label">Feedback</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" name="feedback" id="feedback" placeholder="Feedback">{{data.feedback}}</textarea>
                                </div>
                            </div>


                            <div class="form-group row">
                                <div class="col-sm-10">
                                    <button name="submit" value="1" type="submit" class="btn btn-primary">Update
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



                {% endblock %}
