{% extends 'admin/layouts/layout.html.twig' %}

{% block main %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Lead Details</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">Lead Details
                </div>
                <div class="panel-body">
                    <div class="row">

                        <div class="col-lg-6 ">

                            <table class="table table-user-information">
                                <tbody>
                                    <tr>
                                        <td><strong>Name</strong></td>
                                        <td>{{ lead.name }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Email</strong></td>
                                        <td>{{ lead.email }}</td>
                                    </tr>                                                                       
                                    <tr>
                                        <td><strong>Phone</strong></td>
                                        <td>{{ lead.phone[0] }}</td>
                                    </tr>                                    

                                    <tr>
                                    </tr><tr>
                                        <td><strong>Location</strong></td>
                                        <td>{{ lead.location }}</td>
                                    </tr>
                                      <tr>
                                        <td><strong>Address</strong></td>
                                        <td>{{  lead.address|nl2br }}</td>
                                    </tr>
                                    
                                </tbody>
                            </table>

                        </div>
                        <div class="col-lg-6 ">
                            <table class="table table-user-information">
                                <tbody>
                                  
                                    <tr>
                                        <td><strong>Status</strong></td>
                                        <td>{{ lead.status }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Followup</strong></td>
                                        <td>{{ lead.followupDate|date('m/d/Y') }}</td>
                                    </tr>                                
                                    <tr>
                                        <td><strong>Feedback</strong></td>
                                        <td>{{ lead.feedback }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Created At</strong></td>
                                        <td>{{ lead.createdAt|date('m/d/Y') }} </td>
                                    </tr>  
                                </tbody>
                            </table>

                        </div>
                                    
                        
                    </div>
                                    
                        <p class="text-center">
                            <a href="{{ path('lead_convert', {id: lead.id}) }}" class="btn btn-success btn-lg">Convert To Customer</a>
                        </p>                                     
                </div>
            </div>
        </div>
    </div>

{% endblock %}
                