{% extends 'admin/layouts/layout.html.twig' %}


{% block main %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Trips</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Add Trip
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-10">
                            <form method="post">

                                {% for flashMessage in app.session.flashbag.get('success') %}    

                                    <div class="alert alert-success" role="alert">
                                        {{ flashMessage }}
                                    </div>    

                                {% endfor %}
                                
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Customer</label>
                                    <div class="col-sm-10">
                                        <select required id="customer" name="customer" class="form-control">

                                            <option value="">--Select--</option>

                                            
                                            {% for customer in customers %}

                                                <option value="{{ customer.id }}">{{ customer.fullName }}</option>

                                            {% endfor %}
                                            
                                        </select>
                                    </div>
                                </div>             

                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Vehicle</label>
                                    <div class="col-sm-10">
                                        <select disabled id="vehicle" name="vehicle" class="form-control">

                                            <option value="">--Select--</option>
                                            
                                        </select>
                                    </div>
                                </div>                                               
                                            
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Driver</label>
                                    <div class="col-sm-10">
                                        <select name="driver" class="form-control">

                                            <option value="">--Select--</option>

                                            
                                            {% for driver in drivers %}

                                                <option value="{{ driver.id }}">{{ driver.fullName }}</option>

                                            {% endfor %}
                                            
                                        </select>
                                    </div>
                                </div>                                              

                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Scheduled Time</label>
                                    <div class="col-sm-10">
                                        <input required name="stime" type="text" class=" datetimepicker form-control" placeholder="Select Time">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Location</label>
                                    <div class="col-sm-10">
                                        <input name="location" type="text" class="form-control" placeholder="Location">
                                    </div>
                                </div>
                                            
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Rate</label>
                                    <div class="col-sm-10">
                                        <input name="rate" type="number" class="form-control" placeholder="Rate">
                                    </div>
                                </div>
                                            
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Discount(%)</label>
                                    <div class="col-sm-10">
                                        <input name="discount" type="number" class="form-control" placeholder="Discount">
                                    </div>
                                </div>   
                                            
                                <div class="form-group row">
                                    <div class="col-sm-10">
                                        <button name="submit" type="submit" class="btn btn-primary">ADD</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script>

        $(document).ready(function () {

            $('#customer').on('change', function() {
              // var url = $(this).data('url');
              var url = "{{ path('get_vehicles') }}";
              
              $('#vehicle').html('<option value="">--Select--</option>');
        
                $.ajax({
                    type: 'post',
                    url: url,
                    data: { id: this.value} ,
                    dataType: 'json',
                    beforeSend: function () {
//                        $('#themediv').append('<div id="loading" style=" float: left; display: block;"><img src=""/></div>');
                    },
                    success: function (json) {

                        console.log(json);
                        $.each(json, function (index, value) {

                            //console.log(value);
                            {#
                            var obj = JSON.parse(value[1]);
                            console.log(obj);
                            #}
                            $('#vehicle').append('<option value="' + value[0]+ '">' + value[1] + '</option>').attr('disabled', false);
                        });
                    }
                });
                
            });


        });

           

    </script>
        
    <script type="text/javascript">
        $(document).ready(function () {

            $('.datetimepicker').datetimepicker({
                format:'d-m-Y H:i',
                minDate:'-0',
            });

            $(".datepickeronly").datetimepicker({   
                timepicker:false,
                format:'d-m-Y'
            });

        });
    </script>   
{% endblock %}
