{% extends 'admin/layouts/layout.html.twig' %}

{% block main %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Trip</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">Trip Details
                </div>
                <div class="panel-body">
                    <div class="row">

                        <div class="col-lg-6 ">

                            <table class="table table-user-information">
                                <tbody>
                                    <tr>
                                        <td><strong>Customer</strong></td>
                                        <td>{{ trip.customer.fullName }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Driver</strong></td>
                                        <td>{% if trip.driver|length > 0 %} {{trip.driver.fullName}} {% endif %}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Vehicle</strong></td>
                                        <td> {% if vehicle|length > 0 %} {{vehicle.vehicleModel}} - {{vehicle.vehicleType}} {% endif %} </td>
                                    </tr>

                                    <tr>
                                        <td><strong>Location</strong></td>
                                        <td>{{ trip.location }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Rate</strong></td>
                                        <td>{{ trip.rate }}</td>
                                    </tr>

                                    <tr>
                                        <td><strong>Discount</strong></td>
                                        <td>{{ trip.discount }}</td>
                                    </tr>                                

                                </tbody>
                            </table>


                        </div>
                        <div class="col-lg-6 ">
                            <table class="table table-user-information">
                                <tbody>
                                    <tr>
                                        <td><strong>Scheduled Time</strong></td>
                                        <td>{{ trip.scheduledTime|date('d-m-Y H:i') }}</td>
                                    </tr>

                                    {% if (trip.status == 3)%}
                                    <tr>
                                        <td><strong>Start Time</strong></td>
                                        <td>{{ trip.startedTime|date('d-m-Y H:i') }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>End Time</strong></td>
                                        <td>{{ trip.endedTime|date('d-m-Y H:i') }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Amount Collected</strong></td>
                                        <td>{{ trip.amountCollected }}</td>
                                    </tr>
                                    {% endif %}  
                                    
                                    <tr>
                                        <td><strong>Status</strong></td>
                                        <td>{{ status[trip.status] }}</td>
                                    </tr>
                                    
                                    {% if (trip.status == 4)%}
                                        <tr>                                    
                                            <td><strong>Cancelled By</strong></td>
                                            <td>{{ trip.cancelledBy }}</td>
                                        </tr>                 
                                        <tr>                                    
                                            <td><strong>Reason</strong></td>
                                            <td>{{ trip.cancelReason }}</td>
                                        </tr>                                        
                                    {% endif %}  
                                    
                                    {% if (trip.status == 3)%}
                                        <tr>                                    
                                            <td><strong>Feedback</strong></td>
                                            <td>{{ trip.feedback }}</td>

                                        </tr>
                                    {% endif %}  


                                </tbody>
                            </table>                                                            

                        </div>

                        <div class="col-lg-12">
                            {% if trip.status == 1 or trip.status == 2 %}    
                                <p class="text-center">
                                    <a href="{{ path('trip_close', {id: trip.id}) }}" class="btn btn-success btn-lg">CLOSE</a>
                                    <a href="{{ path('trip_cancel', {id: trip.id}) }}" class="btn btn-danger btn-lg">CANCEL</a>
                                </p>                
                            {% endif %}  
                        </div>


                    </div>


                {% endblock %}
