{% extends 'admin/layouts/layout.html.twig' %}

{% block main %}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Driver</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-lg-10">
        <div class="panel panel-default">
            <div class="panel-heading">
                Edit Driver
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-10">
                        <form method="post">

                            {% for flashMessage in app.session.flashbag.get('success') %}
                                <div class="alert alert-success" role="alert">
                                    {{ flashMessage }}
                                </div>
                            {% endfor %}

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Name</label>
                                <div class="col-sm-10">
                                    <input name="name" type="text" class="form-control" id="name" placeholder="Name"
                                           value="{{ data.name }}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Email</label>
                                <div class="col-sm-10">
                                    <input name="email" type="email" class="form-control" id="name" placeholder="Email"
                                           value="{{ data.email }}">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Phone Number</label>
                                <div class="col-sm-10">
                                    <input name="phone" type="text" class="form-control" id="name"
                                           placeholder="Phone Number" value="{{ data.phone }}" required>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Location</label>
                                <div class="col-sm-10">
                                    <input name="location" type="text" class="form-control" id="age" placeholder="Location">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="exampleTextarea" class="col-sm-2 col-form-label">Address</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" name="address" id="address" placeholder="Address"
                                    >{{ data.address }}</textarea>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Age</label>
                                <div class="col-sm-10">
                                    <input name="age" type="text" class="form-control" id="age" placeholder="Age"
                                           value="{{ data.age }}">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Driver Type</label>
                                <div class="col-sm-10">
                                    <label class="checkbox-inline">
                                        <input name="drivertype[]" checked type="checkbox" value="1"> Full Time
                                    </label>
                                    <label class="checkbox-inline">
                                        <input name="drivertype[]" type="checkbox" value="2"> Part Time
                                    </label>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Expertise</label>
                                <div class="col-sm-10">
                                    <label class="checkbox-inline">
                                        <input name="expertise[]" type="checkbox" value="1"> Manuel
                                    </label>
                                    <label class="checkbox-inline">
                                        <input name="expertise[]" type="checkbox" value="2"> Automatic
                                    </label>
                                    <label class="checkbox-inline">
                                        <input name="expertise[]" type="checkbox" value="3"> Premium
                                    </label>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-form-label col-sm-2 pt-0">PCC Submitted</label>
                                <div class="col-sm-10">
                                    <div class="radio">
                                        <label class="col-form-label col-sm-2 pt-0">
                                            <input type="radio" name="pcc" id="yes" value="1"
                                                   checked>Yes
                                        </label>
                                        <label class="col-form-label col-sm-2 pt-0">
                                            <input type="radio" name="pcc" id="no"
                                                   value="0">No
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Document Type</label>
                                <div class="col-sm-10">
                                    <label class="checkbox-inline">
                                        <input name="document[]" type="checkbox" value="1"> Driving Licence
                                    </label>
                                    <label class="checkbox-inline">
                                        <input name="document[]" type="checkbox" value="2"> Pan Card
                                    </label>
                                    <label class="checkbox-inline">
                                        <input name="document[]" type="checkbox" value="3"> Aadhar
                                    </label>>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Document Number</label>
                                <div class="col-sm-10">
                                    <input name="docnumber" type="text" class="form-control" id="name"
                                           placeholder="Document Number" value="{{ data.docnumber }}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Driver Assignment</label>
                                <div class="col-sm-10">
                                    <label class="checkbox-inline">
                                        <input name="driverassignment[]" type="checkbox" value="1"> Monthly
                                    </label>
                                    <label class="checkbox-inline">
                                        <input name="driverassignment[]" type="checkbox" value="2"> On Demand
                                    </label>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="exampleTextarea" class="col-sm-2 col-form-label">Note</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" name="note" id="note"
                                              placeholder="Note">{{ data.note }}</textarea>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-10">
                                    <button name="submit" value="1" type="submit" class="btn btn-primary">Update
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>


                {% endblock %}
