{% extends 'admin/layouts/layout.html.twig' %}

{% block main %}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Driver</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">Driver Details
            </div>
            <div class="panel-body">
                <div class="row">

                        <div class="col-lg-6 ">

                            <table class="table table-user-information">
                                <tbody>
                                <tr>
                                    <td><strong>Name</strong></td>
                                    <td>{{ driver.name }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Email</strong></td>
                                    <td>{{ driver.email }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Address</strong></td>
                                    <td>{{  driver.address|nl2br }}</td>
                                </tr>

                                <tr>
                                </tr><tr>
                                    <td><strong>Phone</strong></td>
                                    <td>{{ driver.phone }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Age</strong></td>
                                    <td>{{ driver.age }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Driver Type</strong></td>
                                    <td>{{ driver.drivertype }}</td>
                                </tr>

                                </tbody>
                            </table>




                    </div>
                    <div class="col-lg-6 ">
                        <table class="table table-user-information">
                            <tbody>
                            <tr>
                                <td><strong>Expertise</strong></td>
                                <td>{{ driver.expertise }}</td>
                            </tr>
                            <tr>
                                <td><strong>PCC</strong></td>
                                <td>{{ driver.pcc }}</td>
                            </tr>
                            <tr>
                                <td><strong>Document</strong></td>
                                <td>{{  driver.document}}</td>
                            </tr>

                            <tr>
                            </tr><tr>
                                <td><strong>Document No</strong></td>
                                <td>{{ driver.docnumber }}</td>
                            </tr>
                            <tr>
                                <td><strong>Driver Assignment</strong></td>
                                <td>{{ driver.driverassignment }}</td>
                            </tr>
                            <tr>
                                <td><strong>Note</strong></td>
                                <td>{{ driver.note }}</td>
                            </tr>

                            </tbody>
                        </table>






                    </div>
                </div>


                {% endblock %}
