{% extends 'admin/layouts/layout.html.twig' %}


{% block main %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Customers</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Edit Customer
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-10">
                            <form method="post">

                                {% for flashMessage in app.session.flashbag.get('success') %}    

                                    <div class="alert alert-success" role="alert">
                                        {{ flashMessage }}
                                    </div>    

                                {% endfor %}

                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-2 col-form-label">Full Name</label>
                                    <div class="col-sm-10">
                                        <input required pattern="[A-Za-z ‘-]{2,}" name="fullname" type="text" class="form-control" id="inputEmail3" placeholder="Full Name" value="{{data.fullName}}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputPassword3" class="col-sm-2 col-form-label">Email</label>
                                    <div class="col-sm-10">
                                        <input name="email" type="email" class="form-control" id="inputPassword3" placeholder="Email" value="{{data.email}}">
                                    </div>
                                </div>                

                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Phone</label>
                                    <div class="col-sm-10" id="phone-wrapper">

                                        <div class="input-group">
                                            <input pattern="[0-9]{10}" required title="10 digit phone number required" name="phone[]" type="text" class="form-control" placeholder="Phone" value="{{data.phone[0]}}">
                                            <div style="cursor: pointer;" id="add_phone" class="input-group-addon"><i class="fa fa-plus" aria-hidden="true"></i></div>
                                        </div>

                                        {% for key, phone in data.phone %}                                            
                                            {% if key > 0 %}

                                                <div class="input-group">
                                                    <input required name="phone[]" type="number" class="form-control" placeholder="Phone" value="{{phone}}">
                                                    <div style="cursor: pointer;" id="remove_phone" class="input-group-addon"><i class="fa fa-minus" aria-hidden="true"></i></div>
                                                </div>

                                            {% endif %}                                            
                                        {% endfor %}                                                

                                    </div>
                                </div>


                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Location</label>
                                    <div class="col-sm-10">
                                        <input required pattern="[A-Za-z0-9 ‘-]{2,}" name="location" type="text" class="form-control" id="age" placeholder="Location" value="{{data.location}}">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="form-inline">
                                        <label class="col-sm-2 col-form-label">Address</label>

                                        <div class="col-sm-10" id="address-wrapper">   

                                            <div class="input-group">
                                                <div class="form-group" style="width: 25%">
                                                    <input name="house-number[]" type="text" class="form-control" placeholder="House Number" style="width: 100%;" value="{% if data.addresses|length > 0 %} {{data.addresses[0].houseNo}} {% endif %}">
                                                </div>
                                                <div class="form-group" style="width: 25%">
                                                    <input name="street[]" type="text" class="form-control" placeholder="Street" style="width: 100%;" value="{% if data.addresses|length > 0 %} {{data.addresses[0].street}} {% endif %}">
                                                </div>
                                                <div class="form-group" style="width: 25%">
                                                    <input name="city[]" type="text" class="form-control" placeholder="City" style="width: 100%;" value="{% if data.addresses|length > 0 %} {{data.addresses[0].city}} {% endif %}">
                                                </div>
                                                <div class="form-group" style="width: 24%">
                                                    <input name="landmark[]" type="text" class="form-control" placeholder="Landmark" style="width: 100%;" value="{% if data.addresses|length > 0 %} {{data.addresses[0].landmark}} {% endif %}">
                                                </div>           

                                                <p class="form-control-static">&nbsp;</p>
                                                <div style="cursor: pointer; border-left: 1px solid #ccc;" id="add_address" class="input-group-addon"><i class="fa fa-plus" aria-hidden="true"></i></div>
                                            </div>                                            

                                            {% for key, address in data.addresses %}                                            
                                                {% if key > 0 %}

                                                    <div class="input-group">
                                                        <div class="form-group" style="width: 25%">
                                                            <input name="house-number[]" type="text" class="form-control" placeholder="House Number" style="width: 100%;" value="{{address.HouseNo}}">
                                                        </div>
                                                        <div class="form-group" style="width: 25%">
                                                            <input name="street[]" type="text" class="form-control" placeholder="Street" style="width: 100%;" value="{{address.street}}">
                                                        </div>
                                                        <div class="form-group" style="width: 25%">
                                                            <input name="city[]" type="text" class="form-control" placeholder="City" style="width: 100%;" value="{{address.city}}">
                                                        </div>
                                                        <div class="form-group" style="width: 24%">
                                                            <input name="landmark[]" type="text" class="form-control" placeholder="Landmark" style="width: 100%;" value="{{address.landmark}}">
                                                        </div>           

                                                        <p class="form-control-static">&nbsp;</p>
                                                        <div style="cursor: pointer; border-left: 1px solid #ccc;" id="remove_address" class="input-group-addon"><i class="fa fa-minus" aria-hidden="true"></i></div>
                                                    </div>

                                                {% endif %}                                            
                                            {% endfor %}    


                                        </div>

                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="form-inline">
                                        <label class="col-sm-2 col-form-label">Vehicles</label>

                                        <div class="col-sm-10" id="vehicles-wrapper">   

                                            <div class="vehicles-content">
                                                <div class="input-group">
                                                    <div class="form-group" style="width: 50%">
                                                        <input name="reg-number[]" type="text" class="form-control" placeholder="Registration Number" style="width: 100%;" value="{% if data.vehicles|length > 0 %}  {{data.vehicles[0].regNumber}} {% endif %}">
                                                    </div>
                                                    <div class="form-group" style="width: 50%">
                                                        <input name="model[]" type="text" class="form-control" placeholder="Model" style="width: 100%;" value="{% if data.vehicles|length > 0 %} {{data.vehicles[0].vehicleModel}} {% endif %}">
                                                    </div>

                                                    <div style="cursor: pointer; border-left: 1px solid #ccc; width: 40px;" id="add_vehicle" class="input-group-addon"><i class="fa fa-plus" aria-hidden="true"></i></div>
                                                </div>
                                                <div class="input-group">
                                                    <input type="hidden" class="vehicle-type" name="type[]" value="{% if data.vehicles|length > 0 %} {{data.vehicles[0].vehicleTypesJson}} {% else %}[]{% endif %}">
                                                    <label class="checkbox-inline">
                                                        <input {% if data.vehicles|length > 0 %} {% if 'Manual' in data.vehicles[0].vehicleTypes %} checked {% endif %} {% endif %}  class="vehicle-type-check" type="checkbox" value="Manual"> Manual
                                                    </label>
                                                    <label class="checkbox-inline">
                                                        <input {% if data.vehicles|length > 0 %} {% if 'Automatic' in data.vehicles[0].vehicleTypes %} checked {% endif %} {% endif %} class="vehicle-type-check" type="checkbox" value="Automatic"> Automatic
                                                    </label>
                                                    <label class="checkbox-inline">
                                                        <input {% if data.vehicles|length > 0 %} {% if 'Premium' in data.vehicles[0].vehicleTypes %} checked {% endif %} {% endif %} class="vehicle-type-check" type="checkbox" value="Premium"> Premium
                                                    </label>
                                                </div>
                                            </div>


                                            {% for key, vehicle in data.vehicles %}                                            
                                                {% if key > 0 %}    


                                                    <div class="vehicles-content">
                                                        <div class="input-group">
                                                            <div class="form-group" style="width: 50%">
                                                                <input name="reg-number[]" type="text" class="form-control" placeholder="Registration Number" style="width: 100%;" value="{{vehicle.regNumber}}">
                                                            </div>
                                                            <div class="form-group" style="width: 50%">
                                                                <input name="model[]" type="text" class="form-control" placeholder="Model" style="width: 100%;" value="{{vehicle.vehicleModel}}">
                                                            </div>

                                                            <div style="cursor: pointer; border-left: 1px solid #ccc; width: 40px;" id="remove_vehicle" class="input-group-addon"><i class="fa fa-minus" aria-hidden="true"></i></div>
                                                        </div>
                                                        <div class="input-group">
                                                            <input type="hidden" class="vehicle-type" name="type[]" value="{{vehicle.vehicleTypesJson}}">
                                                            <label class="checkbox-inline">
                                                                <input {% if 'Manual' in vehicle.vehicleTypes %} checked {% endif %} class="vehicle-type-check" type="checkbox" value="Manual"> Manual
                                                            </label>
                                                            <label class="checkbox-inline">
                                                                <input {% if 'Automatic' in vehicle.vehicleTypes %} checked {% endif %} class="vehicle-type-check" type="checkbox" value="Automatic"> Automatic
                                                            </label>
                                                            <label class="checkbox-inline">
                                                                <input {% if 'Premium' in vehicle.vehicleTypes %} checked {% endif %} class="vehicle-type-check" type="checkbox" value="Premium"> Premium
                                                            </label>
                                                        </div>
                                                    </div>


                                                {% endif %}                                            
                                            {% endfor %}                                           

                                        </div>

                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Usual Trip</label>
                                    <div class="col-sm-10">
                                        <input name="usualTrip" type="text" class="form-control" placeholder="Usual Trip"  value="{{data.usualTrip}}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Customer Type</label>
                                    <div class="col-sm-10">

                                        <label class="checkbox-inline">
                                            <input {% if 1 in data.customertype %} checked {% endif %} name="customertype[]" type="checkbox" value="1"> Monthly
                                        </label>
                                        <label class="checkbox-inline">
                                            <input  {% if 2 in data.customertype %} checked {% endif %} name="customertype[]" type="checkbox" value="2"> On Demand
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Driver Preference</label>
                                    <div class="col-sm-10">
                                        <select name="driver" class="form-control">

                                            <option value="">--Select--</option>


                                            {% for driver in drivers %}

                                                <option {% if data.preferredDriver and driver.id == data.preferredDriver.id %} selected {% endif %} value="{{ driver.id }}">{{ driver.fullName }}</option>

                                            {% endfor %}


                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-10">
                                        <button name="submit" type="submit" class="btn btn-primary">Update</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <!-- /.row -->

{% endblock %}



{% block javascripts %}
    {{ parent() }}

    <script>

        $(document).ready(function () {

            addPhone();
            addAddress();
            addVehicle();

        });

        function addVehicle() {
            var wrapperVehicle = $('#vehicles-wrapper'); //Input field wrapper
            var fieldHTML = '<div class="vehicles-content"><div class="input-group">\n\
    <div class="form-group" style="width: 50%"><input name="reg-number[]" type="text" class="form-control" placeholder="Registration Number" style="width: 100%;"></div>\n\
    <div class="form-group" style="width: 50%"><input name="model[]" type="text" class="form-control" placeholder="Model" style="width: 100%;"></div>\n\
    <div style="cursor: pointer; border-left: 1px solid #ccc; width:40px;" id="remove_vehicle" class="input-group-addon"><i class="fa fa-minus" aria-hidden="true"></i></div></div>\n\
    <div class="input-group">\n\
    <input type="hidden" class="vehicle-type" name="type[]" value="[]">\n\
    <label class="checkbox-inline"><input class="vehicle-type-check" type="checkbox" value="Manual"> Manual</label>\n\
    <label class="checkbox-inline"><input class="vehicle-type-check" type="checkbox" value="Automatic"> Automatic</label>\n\
    <label class="checkbox-inline"><input class="vehicle-type-check" type="checkbox" value="Premium"> Premium</label>\n\
    </div></div>';

            //Once add button is clicked
            $($('#add_vehicle')).click(function () {
                //Check maximum number of input fields
                $(wrapperVehicle).append(fieldHTML); //Add field html
            });

            //Once remove button is clicked
            $(wrapperVehicle).on('click', '#remove_vehicle', function (e) {
                e.preventDefault();
                $(this).parent().parent('.vehicles-content').remove(); //Remove field html
            });

            $(document).on("click", ".vehicle-type-check", function (e) {

                var vehicleType = $(this).parent().parent().find('.vehicle-type');

                var obj = JSON.parse(vehicleType.val());

                if ($(this).prop("checked") == true) {
                    obj.push($(this).val());
                }
                else if ($(this).prop("checked") == false) {
                    obj.splice($.inArray($(this).val(), obj), 1);
                }

                vehicleType.val(JSON.stringify(obj));
            });
        }

        function addAddress() {
            //Address add/remove
            var wrapperAddress = $('#address-wrapper'); //Input field wrapper
            var fieldHTML = '<div class="input-group"><div class="form-group" style="width: 25%"><input name="house-number[]" type="text" class="form-control" placeholder="House Number" style="width: 100%;"></div><div class="form-group" style="width: 25%"><input name="street[]" type="text" class="form-control" placeholder="Street" style="width: 100%;"></div><div class="form-group" style="width: 25%"><input name="city[]" type="text" class="form-control" placeholder="City" style="width: 100%;"></div><div class="form-group" style="width: 24%"><input name="landmark[]" type="text" class="form-control" placeholder="Landmark" style="width: 100%;"></div><p class="form-control-static">&nbsp;</p><div style="cursor: pointer; border-left: 1px solid #ccc;" id="remove_address" class="input-group-addon"><i class="fa fa-minus" aria-hidden="true"></i></div></div>';

            //Once add button is clicked
            $($('#add_address')).click(function () {
                //Check maximum number of input fields
                $(wrapperAddress).append(fieldHTML); //Add field html
            });

            //Once remove button is clicked
            $(wrapperAddress).on('click', '#remove_address', function (e) {
                e.preventDefault();
                $(this).parent('.input-group').remove(); //Remove field html
            });
        }

        function addPhone() {
            var maxField = 20; //Input fields increment limitation
            var wrapper = $('#phone-wrapper'); //Input field wrapper
            var fieldHTML = '<div class="input-group"><input pattern="[0-9]{10}" required title="10 digit phone number required" name="phone[]" type="text" class="form-control" placeholder="Phone"><div style="cursor: pointer;" id="remove_phone" class="input-group-addon"><i class="fa fa-minus" aria-hidden="true"></i></div></div>';
            var x = 1; //Initial field counter is 1

            //Once add button is clicked
            $($('#add_phone')).click(function () {
                //Check maximum number of input fields
                if (x < maxField) {
                    x++; //Increment field counter
                    $(wrapper).append(fieldHTML); //Add field html
                }
            });

            //Once remove button is clicked
            $(wrapper).on('click', '#remove_phone', function (e) {
                e.preventDefault();
                $(this).parent('.input-group').remove(); //Remove field html
            });
        }


    </script>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <style>
        #vehicles-wrapper .input-group, #address-wrapper .input-group{
            width: 100%;
        }
        .vehicles-content{
            margin-bottom: 8px;
        }    
    </style>

{% endblock %}